*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(#ffff36, #ffa424);
}


.container{
	display: flex;
	border: solid 2px white;
}

table{
	border: solid 2px white;
	font-size: 20px;
	table-layout: fixed;
	border-collapse: collapse;
}
thead{
	background: #ff9800;
}

tr{
	border: solid 1px black;
	padding: 20px 15px;
	font-weight: 700;
}
